* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.match {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#generar {
    width: 100%;
    font-style: italic;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    color: cadetblue;
    border-radius: 10px;
}

a,
button {
    cursor: pointer;
}